.App {
    background-color: red;
}
.toggle-div {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.container-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background-color: aliceblue;
}
.terrif-div {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;

}
.terrif-top{
    display: flex;
}
.td-title{

    padding: 10px 5rem 10px 1rem;
}
.td-style{
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
}
.tr-even-style {
    background-color: rgb(241, 240, 240);

}
/*toggle*/
.bill-monthly{
    
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-right: 8px;
}
.bill-Dactive {
    color: rgb(197, 193, 193);
    font-size: 15px;
}
.btn-style {
    text-decoration: none;
    padding: 8px 35px 8px 35px;
    background-color: rgb(75, 190, 75);
    border-radius: 10px;
    width: 50px;
}
.h3-price {
    font-size: 3rem;
    margin: 0;
}
.popular-plan-tag {
    position: relative;
    height: 20px;
    color: #fff;
    padding: 4px 10px 2px 10px;
    left: 525px;
    font-size: 12px;
    font-weight: 500;
    background-color: purple;
    border-radius: 1px 1px 10px 10px;
}
.items-label {
    font-size: 20px;
  
}